@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewMedium-Obl.eot');
    src: local('Futura New Medium Obl'), local('FuturaNewMedium-Obl'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Obl.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Obl.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Obl.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New Demi';
    src: url('../fonts/FuturaNewDemi/FuturaNewDemi-Obl.eot');
    src: local('Futura New Demi Obl'), local('FuturaNewDemi-Obl'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Obl.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Obl.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Obl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewMedium-Reg.eot');
    src: local('Futura New Medium Reg'), local('FuturaNewMedium-Reg'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewHeavy-Reg.eot');
    src: local('Futura New Heavy Reg'), local('FuturaNewHeavy-Reg'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Reg.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewLight-Obl.eot');
    src: local('Futura New Light Obl'), local('FuturaNewLight-Obl'), url('../fonts/FuturaNewDemi/FuturaNewLight-Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewLight-Obl.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewLight-Obl.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewLight-Obl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New Book';
    src: url('../fonts/FuturaNewDemi/FuturaNewBook-Obl.eot');
    src: local('Futura New Book Obl'), local('FuturaNewBook-Obl'), url('../fonts/FuturaNewDemi/FuturaNewBook-Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewBook-Obl.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewBook-Obl.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewBook-Obl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Obl.eot');
    src: local('Futura New ExtraBold Obl'), local('FuturaNewExtraBold-Obl'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Obl.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Obl.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Obl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New Book';
    src: url('../fonts/FuturaNewDemi/FuturaNewBook-Reg.eot');
    src: local('Futura New Book Reg'), local('FuturaNewBook-Reg'), url('../fonts/FuturaNewDemi/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewBook-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewBook-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewBold-Obl.eot');
    src: local('Futura New Bold Obl'), local('FuturaNewBold-Obl'), url('../fonts/FuturaNewDemi/FuturaNewBold-Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewBold-Obl.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewBold-Obl.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewBold-Obl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Reg.eot');
    src: local('Futura New ExtraBold Reg'), local('FuturaNewExtraBold-Reg'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewExtraBold-Reg.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewLight-Reg.eot');
    src: local('Futura New Light Reg'), local('FuturaNewLight-Reg'), url('../fonts/FuturaNewDemi/FuturaNewLight-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewLight-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewLight-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewLight-Reg.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New Demi';
    src: url('../fonts/FuturaNewDemi/FuturaNewDemi-Reg.eot');
    src: local('Futura New Demi Reg'), local('FuturaNewDemi-Reg'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewBold-Reg.eot');
    src: local('Futura New Bold Reg'), local('FuturaNewBold-Reg'), url('../fonts/FuturaNewDemi/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewBold-Reg.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewBold-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNewDemi/FuturaNewHeavy-Obl.eot');
    src: local('Futura New Heavy Obl'), local('FuturaNewHeavy-Obl'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Obl.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Obl.woff2') format('woff2'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Obl.woff') format('woff'), url('../fonts/FuturaNewDemi/FuturaNewHeavy-Obl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(194, 207, 224, 0.1);
    font-family: Roboto !important;
}

.white_box {
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #323c47;
}

.bold {
    font-weight: bold;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.space_between {
    justify-content: space-between;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.head_first {
    width: 100%;
    height: 62px;
    background-color: #ffffff;
    padding-top: 14px;
    padding-left: 8px;
}

.head_first .flex_row {}

.head_first__logo {
    width: 27px;
    height: 34px;
    object-fit: contain;
}

.logo__title {
    padding-left: 13px;
    display: flex;
    flex-direction: column;
    height: 34px;
}

.logo__title__main {
    width: 145px;
    height: 23px;
    font-family: Futura New Demi;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2053f3;
}

.logo__title__sub {
    font-family: Futura New Demi;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3e3d4d;
    margin-top: -4px;
}

.head_first__phone {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2053f3;
    line-height: 33px;
}

.head_first__right span a {
    height: 17px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #323c47;
    line-height: 35px;
    margin-left: 44px;
}

.head_first__register {
    width: 140px;
    height: 32px;
    object-fit: contain;
    margin-left: 33px;
}

.head_first__register a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.13px;
    color: #ffa726;
}

.button {
    border-radius: 8px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #ffffff;
    height: 42px;
    padding: 0 30px;
    cursor: pointer;
    line-height: 42px;
    text-align: center;
}

.no_border {
    border: none;
}

.border_orange {
    border: solid 1px #ffa726;
    color: #ffa726;
}

.bg_orange {
    background: #ffa726;
}

.bg_yellow {
    background: #fbbf43;
}

.head_second {
    background: #2053f3;
    font-family: FuturaNewDemi-Reg;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    height: 208px;
    position: relative;
}

.head_second__vector {
    width: 467px;
    height: 208px;
    object-fit: contain;
    opacity: 1;
    background-color: rgba(149, 149, 149, 0);
    position: absolute;
    right: 0;
    top: 0;
}

.head_second__group {
    width: 702px;
    height: 149.5px;
    object-fit: contain;
    position: absolute;
    right: 18px;
    top: 35px;
}

main {
    padding: 20px 0;
    background-color: rgba(194, 207, 224, 0.1);
    position: relative;
}

.login_form {
    width: 512px;
    height: 422px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: url('/images/login_form__vector.svg') #fff no-repeat 11px 31px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 100px;
    position: relative;
}

.login_form input[type="password"],
.login_form input[type="text"] {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 15px;
}

.login_form input[type="password"] {
    color: #334d6e;
    letter-spacing: 4px;
    font-size: 18px;
}


/* .login_form .login_form__vector {
    width: 486.4px;
    height: 353.3px;
    object-fit: contain;
    position: absolute;
    top: 31px;
    left: 11px;
} */

.form_content {
    margin: 0 auto;
    width: 316px;
    padding-top: 88px;
}

.input_group {
    position: relative;
}

.input_group:first-child {
    margin-bottom: 40px;
}

.input_group .input_group__title {
    position: absolute;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.12px;
    color: #90a0b7;
    background: #fff;
    top: -7px;
    padding: 0 5px;
    left: 10px;
}

.input_group__input {
    width: 316px;
    height: 56px;
    object-fit: contain;
    border-radius: 4px;
    border: solid 1px #c2cfe0;
}

.forgot_password_link {
    font-size: 12px;
    letter-spacing: 0.12px;
    color: #90a0b7;
    margin-left: 5px;
    line-height: 30px;
}

.login_form__buttons {
    margin-top: 20px;
}

.login_form__login,
.login_form__register {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #ffffff;
    height: 42px;
    padding: 0 30px;
    cursor: pointer;
}

.login_form__register a {
    color: #ffa726;
    line-height: 38px;
}

.button:hover {
    box-shadow: 0 4px 10px 0 rgba(16, 156, 241, 0.24);
}

.button a:hover {
    text-decoration: none;
}

sidebar {
    /* margin-right: 20px; */
    width: 304px;
    position: absolute;
    padding: 19px 28px;
    /* margin-top: 16px; */
}

sidebar input[type=checkbox] {
	display: none;
}

sidebar  label {
    margin-left: 35px;
    position: relative;
}

sidebar input[type=checkbox] + label::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #fbbf43;
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
}

sidebar input[type=checkbox]:checked + label::before {
    content: '';
    width: 18px;
    height: 18px;
    background: url(/images/check_box_checked.svg);
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
}

sidebar a {
    font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  color: #323c47;
}

sidebar .buttons {
    height: 115px;
}

.filter_group {
    margin-bottom: 30px;
}

.filter_item__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #396ef9;
    margin-bottom: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    border: none;
    padding-right: 26px;
    position: relative;
    background-image: url('/images/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 0 center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    color: #323c47;
}

.filter_item__tree {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.filter_item__tree:last-child {
    margin: 0;
}

.filter_item__tree:last-child::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2053f3;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

section.content {
    margin-top: 16px;
    margin-left: 324px;
}

section.content .top_search {
    border: none;
    height: 60px;
    margin-bottom: 29px;
}

.top_search input {
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 68px;
}

footer {
    width: 100%;
    height: 267px;
    object-fit: contain;
    background-color: #303543;
    padding-top: 44px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}

footer p {
    letter-spacing: 0.16px;
    margin-bottom: 14px;
    line-height: normal;
}

.social_button {
    flex-wrap: nowrap;
    width: 166px;
    margin-bottom: 17px;
}

.social_button a {
    line-height: 33px;
    display: block;
}

.social_button__img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-right: 12px;
}

.social_button__img img {
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50%;
    display: block;
}